<!--
  Component: Sidebar Container
  Description: The responsive sidebar container that holds widgets.
  组件：侧边栏容器
  描述：包含小部件的响应式侧边栏容器。
-->
<aside 
  th:fragment="sidebar (prepend)" 
  class="aurora-sidebar z-0 hidden w-full md:block"
>
  <th:block th:with="allWidgets = ${theme.config.sidebar.sidebar_widgets}">
    <th:block th:if="${prepend != null}">
      <th:block th:replace="${prepend}" />
    </th:block>
    <!-- 其他页面默认显示右侧小部件 -->
    <th:block th:if="${allWidgets != null}">
      <th:block th:replace="~{modules/widgets/configured-sidebar :: configured-sidebar(widgets = ${allWidgets}, position = 'right')}" />
    </th:block>
  </th:block>
</aside>