<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layouts/layout :: html(title = |#{page.category.title(${category.spec.displayName})} - ${site.title}|, hero = null, content = ~{::content}, head = null, footer = null, sidebar = null, contentClass = null)}"
>
  <th:block th:fragment="content">
    <th:block
      th:with="base_layout=${theme.config.post_list.post_list_layout ?: 'grid_2'},enable_masonry=${theme.config.post_list.enable_masonry ?: false},list_layout=${(base_layout == 'grid_2' or base_layout == 'grid_3' or base_layout == 'grid_4') and enable_masonry == true ? 'masonry' : base_layout},card_gap=${theme.config.post_list.card_gap ?: 'medium'},card_style=${theme.config.post_list.card_style ?: 'default'},card_animation=${theme.config.post_list.card_animation ?: 'hover_lift'},image_position=${theme.config.post_list.post_image_position ?: 'left'},isFirstPage=${posts.page == 1 or posts.page == null},paginationCtx=|${category.status.permalink}/|"
      th:replace="~{modules/posts/post-list :: post-list(posts = ${posts}, list_layout = ${list_layout}, card_gap = ${card_gap}, card_style = ${card_style}, card_animation = ${card_animation}, image_position = ${image_position}, headerWidget = 'none', isFirstPage = ${isFirstPage}, showPagination = true, paginationContext = ${paginationCtx})}"
    />
  </th:block>
</html>

